@inherits LayoutComponentBase

<PageTitle>Talen Fisher - Resume</PageTitle>

<div class="page">
    <aside>
        <Sidebar />
    </aside>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
