@using YamlDotNet.Serialization;

@{
    var skillsFileText = File.ReadAllText("Data/skills.yml");
    var builder = new DeserializerBuilder().Build();
    var skillsData = builder.Deserialize<Dictionary<string, string[]>>(skillsFileText);
}

<h1>Talen Fisher</h1>
<p>Full-Stack Software & Infra Engineer</p>

<div class="contact">
    <div><i class="fa-solid fa-location"></i> Des Moines, IA</div>
    <div><i class="fa-solid fa-phone"></i> +1 515-333-2929</div>
    <div><i class="fa-solid fa-envelope"></i> talen.fisher@cythral.com</div>
    <div><i class="fa-solid fa-globe"></i> cythral.com</div>
    <div><i class="fa-brands fa-github"></i> github.com/talenfisher</div>
</div>

<div class="skills">
    <h2>Skills</h2>

    @foreach(var (category, skills) in skillsData) {
        <div class="skills-section">
            <h3>@category</h3>
            <p>@string.Join(", ", skills)</p>
        </div>
    }
</div>    

<div class="certifications">
    <h2>Certifications</h2>
    <ul>
        <li>AWS Cloud Practitioner</li>
        <li>AWS SysOps Administrator</li>
        <li>AWS DevOps Engineer</li>
    </ul>
</div>

<div class="education">
    <h2>Education</h2>
    <div>
        <div class="education-date">2018-08 - 2020-08</div>
        <h3>Computer Science, BS</h3>
        <p>Iowa State University</p>
        <ul>
            <li>Attended for 2 years, completed 90% of courses.</li>
            <li>Focus shifted to up-skilling for employer needs.</li>
        </ul>
    </div>

    <div>
        <div class="education-date">2016-08 - 2018-08</div>
        <h3>Management Information Systems, AA</h3>
        <p>DMACC</p>
        <ul>
            <li>Graduated with Program Honors, 3.7 GPA.</li>
        </ul>
    </div>
</div>